@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-loading] * {
    transition: none !important;
}

.bg-rough {
    background-image: url("/public/images/roughbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(50, 50, 50, 0.4) transparent;
}

.sidebar-scrollbar::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}


.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.4) transparent;
  border-radius: 3px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* scrollbar track color */
}

/* Choices Library */

.choices__inner, 
.choices[data-type*="select-one"] .choices__input {
  @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 ;
}



.choices__inner {
    @apply !px-[0.4rem] !py-[0.3rem] !text-base !overflow-hidden !rounded-md;
}

.choices__list  {
 @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300;
}

.choices__list[aria-expanded]{ 
    @apply !border-indigo-500 dark:!border-indigo-600 !ring-indigo-500 dark:!ring-indigo-600;
}

.choices__list--dropdown{
     @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply border-gray-400 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-400;
}


/* Datatable */
select.dt-input{
    width: 60px!important;
}

.dt-input {
    @apply dark:!bg-gray-700 dark:!text-neutral-200 dark:!border dark:!border-gray-700;
}
.dt-container label, .dt-info {
    @apply dark:!text-neutral-200;
}

.dt-paging-button {
    @apply px-3 py-0.5 cursor-pointer dark:!text-neutral-200;
}

.dt-paging-button.current, .dt-paging-button.next, .dt-paging-button.last {
    @apply bg-zinc-200;
}

.dt-paging-button:hover{
    @apply !bg-zinc-200 dark:!bg-gray-800;
}

.dt-paging {
    nav {
        button {
            @apply !text-white;
        }
    }
}

.dataTable {
@apply dark:!bg-gray-800 dark:!text-neutral-200;
}

.dataTable td {
    @apply px-3 py-2 text-center;
}

.dataTable thead, 
.dataTable tfoot {
    @apply uppercase text-sm;
}

.dataTable th{
    @apply px-3 py-5 border-y border-y-zinc-200 !text-center;
}

 .dataTable tr:nth-child(even) {
    @apply bg-zinc-200 dark:!bg-transparent;
} 


.dt-layout-row {
    @apply w-full flex items-center justify-between mb-4 mt-4;
}

.dt-layout-full{
   @apply w-full;
}
.dt-input {
    @apply border border-zinc-200 rounded py-1 px-0.5;
}

.dt-empty {
    @apply text-center;
}

@media screen and (max-width: 600px) {
    .dt-layout-row {
        @apply w-full flex flex-col gap-8 items-center justify-between mb-4 mt-4;
    }
}

#applicationForm{
    @apply w-full text-start;

    tr {
        @apply border-b border-b-slate-400 dark:border-b-gray-700;
    }

    th, td {
        @apply py-2.5 px-2 text-start border dark:border-gray-700;
    }

    .theading {
        @apply text-center;
    }
}